@font-face {
    font-family: 'noto';
    src: url(./Noto_Sans_KR/NotoSansKR-Regular.otf);
}


* {
    list-style: none;
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'noto';
}

body {
    /* background-color: #F6EB61; */
    background-color: #FFF;
}

.container {
    position: relative;
    width: 1600px;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #EBEBEB;
}

header {
    height: 100px;
    display: flex;
    /* background-color: #171a21; */
    background-color: #24272B;
    justify-content: space-between;
    width: 1600px;
}

.recommend {
    margin-right: 50px;
}

/* .headRight {
    display: flex;
    margin-right: 20px;
} */

.recommend {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFCC;
    text-align: center;
    margin-top: 25px;
    margin-left: 50px;
    line-height: 50px;
    font-weight: bold;
    border: 1px solid black;
}

.login, .register {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    margin-top: 25px;
    margin-left: 50px;
    line-height: 50px;
    font-weight: bold;
    border: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #CCCCCC; /* 색 수정 필요 */
}

footer > div {
    width: 100%;
    text-align: center;
    line-height: 100px;

}

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    width: 1560px;
    line-height: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.tabs > h2 {
    margin-left: 20px;
}

.openBtn{
    margin-right: 20px;
    font-size: 20px;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 1px;
    line-height: 30px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.game_container{
    width: 100%;
}
.inv {
    display: grid;
    height: auto;
    min-height: 700px;
    padding: 30px;
    width: calc(100% - 40px);
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    row-gap: 30px;
    justify-content: space-around;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 2px 3px 1px #0001;
    transition: .5s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 2px 3px 1px #ddd;
}

.card > img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover .text-box{
    opacity: 1;
}

.text-box {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    padding-top: 50%;
}

.text-box > div {
    color: white;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.game_section {
    padding-bottom: 200px;
}

.GamePopup {
    position: fixed;
    width: 1200px;
    height: 800px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
    border-radius: 3px;
}

.popTop {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left {
    width: 200px;
    height: 350px;
}

.left > img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.revReco {
    margin-top: -5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 50px;
}

.reco {
    width: 50%;
    color: rgb(100, 255, 100);
}

.reco > i {
    color : rgb(100, 255, 100);
}

.noReco {
    width: 50%;
    color: rgb(255, 100, 100);
}

.noReco > i {
    color : rgb(255, 100, 100);
}

.right {
    height: 350px;
    width: 960px;
}

.right > div {
    height: 80px;
    width: 930px;
    margin-bottom: 10px;
    margin-left: 30px;
    line-height: 80px;
    border: 1px solid #ddd;
    padding-left: 20px;
}

.mainReview {
    border: 1px solid #ddd;
    width: 1160px;
    height: 320px;
    margin: 0px 20px;
}

.closePop {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.recGame {
    position: fixed;
    width: 400px;
    height: 600px;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}

.recGame > p {
    text-align: center;
    line-height: 60px;
}

.closeRec {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}